@use '../../sass/partials/variables';
@use '../../sass/partials/mixins';

.profile__user {
  max-width: 1000px;
  margin: 90px auto;
}

.profile__header {
  @include mixins.flex(flex, top, space-between, 0);
  border-bottom: 1px solid #ddd;
}

.edit-btn {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: variables.$purple;
  color: variables.$light;
  cursor: pointer;
}