@use '../../sass/partials/variables';
@use '../../sass/partials/mixins';

.feed {
  &__post__container {
    max-width: 1000px;
    margin: 0 auto;
    @include mixins.flex(flex, none, space-between, 20px);
  }

  &__wrapper {
    width: 60%;
  }

  &__createPost {
    width: 100%;
    padding: 20px;
    background-color: variables.$purple;
    margin: 10px 0;
  }

  &__input {
    width: 100%;
    border-radius: 5px;
    border: none;
  }

  &__posts {}

  &__aside {
    width: 35%;
    margin: 10px 0;
    background-color: variables.$purple;
    border-radius: 5px;
    padding: 35px;
    height: 100%;
  }
}

.menu {
  padding: 15px;
  background-color: variables.$light;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  color: variables.$purple;
  h3 {
    border-bottom: 1px solid variables.$purple;
    padding: 10px 0;
  }
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    border-bottom: 1px solid variables.$purple;
    padding: 10px 0;
  }
  &__link {
    text-decoration: none;
    color: variables.$purple;
  }
}

.profile-card {
  padding: 15px;
  background-color: variables.$light;
  color: variables.$purple;
  width: 100%;
  border-radius: 5px;
}
.user-info1 {
  text-align: center;
}
.profile-img-container {
  width: 100px;
  margin: 0 auto;
}
.profile-img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.go-profile-btn {
  width: 100%;
  padding: 7px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  border: none;
  background-color: variables.$purple;
  cursor: pointer;
  color: variables.$light;
}

.post-btn {
  background-color: variables.$light;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .feed__post__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .feed__wrapper {
    width: 100%;
    padding: 10px;
  }
  .feed__aside {
    width: 100%;
    display: none;
  }
}