@use '../../sass/partials/variables';
@use '../../sass/partials/mixins';

.singlePost {
  &__wrapper {
    height: 100vh;
    @include mixins.flex(flex, center, center, 0);
    padding: 15px;
  }
  &__card {
    width: 100%;
    height: 100%;
    padding: 15px;
    @include mixins.flex(flex, center, center, 0);
    border-radius: 5px;
  }
}

.flex-post {
  width: 50%;
  height: 100%;
  .post-img {
    width: 100%;
    height: 100%;
  }
}

.flex-comment {
  background-color: variables.$purple;
  width: 50%;
  height: 100%;
  padding: 15px;
  .comment-header {
    @include mixins.flex(flex, center, space-between, 0);
    color: variables.$light;
  }
}