//@mixin flexSpacing($flex: flex, $align: center, $justify: space-between, $gap: 20px) {
//  display: $flex;
//  align-items: $align;
//  justify-content: $justify;
//  gap: $gap;
//}

@mixin flex($flex, $align, $justify, $gap) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}