$light: #FAFBFF;
$dark: #002233;
$purple: #6C63FF;

$dangerBorder: #f5c2c7;
$dangerBackground: #f8d7da;
$dangerText: #842029;


$successBorder: #badbcc;
$successBackground: #d1e7dd;
$successText: #0f5132;